@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

/* FORM RESET */

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border: 0;
  -moz-border: 0;
  -ms-border: 0;
  -o-border: 0;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  color: #000;
  outline: 0;
  margin: 0;
  padding: 0;
}

/* END FORM RESET */

:root {
  --main-color: DodgerBlue;
  --second-color: Darkgray;
  --white: FloralWhite;
  --red: Crimson;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: Roboto;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
}

nav {
  height: 90px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* form */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30rem;
  height:19rem;
  border-radius: 0.5rem;
}
.modal-upper{
    width:100%;
    height:28%;
    background: var(--red);
    position:absolute;
}
.modal-upper__icon{
    position:relative;
    padding: 10px;
    height: 70px;
    width: 70px;
    background-color: var(--white);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    /* border: 1px solid rgb(0, 0, 0); */
    left:calc(50% - 35px);
    top:calc(100% - 35px);

}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 10px 10px 0
}
.close-button:hover {
  background-color: var(--white);
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.header__form {
  display: flex;
  justify-content: flex-end;
  flex-direction:column;
  align-items: center;
  margin-top:30%;
  opacity: 1;
  transition: 0.5s all ease;
}
.header__form input{
    border-radius:12px;
    height:35px;
    width:80%;
}

.header__form label{
    display:flex;
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius:25px;
}

.header__form i{
    display:flex;
    align-items:center;
    justify-content: center;
    width:35px;
}

.header__form label:first-child{
    margin-bottom:15px;
}

.header__form button[type="submit"] {
  background-color: var(--red);
  padding: 5px;
  cursor: pointer;
  height:35px;
  width:40%;
  margin-top:10px;
  border-radius:4px;
}

/* login button */
.header__btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: all .4s ease-in;
  -webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  -moz-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}
.header__btn-login:hover {
  -webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.3);
  -moz-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.3);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.3);
}


/* article */

article {
}
