html,
body {
  width: 100%;
}
/* AJOUT CATEGORIE */

.title-categorie {
  margin: 30px 0;
}
.list-categorie {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.categorie {
  margin-right: 10px;
  padding: 7px;
  border: 1px solid var(--text);
  border-radius: 4px;
  margin-bottom: 10px;
}
.add-cat {
  margin-top: 15px;
}
.add-cat-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputcat {
  padding: 7px;
  margin-right: 4px;
    width:405px;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.submitcat {
    border: none;
    height:32px;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    background-color: var(--white);
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:10px;
}
.submitcat:hover{
    background-color: var(--text);
    color:var(--white);
}
.submitcat:hover .submit-cat-input{
    background-color: var(--text);
    color:var(--white);
}
.submitcat:hover .submit-cat-input{
    background-color: none;
}
.submit-cat-input {
  background-color: var(--white);
  border-radius: 4px;
  border: none;
  cursor:pointer;
  margin-right:7px;
}
.submit-add-article {
  border: none;
  height:32px;
  width:78px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  background-color: var(--white);
  cursor:pointer;
}
.submit-add-article:hover{
    background-color: var(--text);
    color:var(--white);
}

/* FIN AJOUT CATEGORIE */

/* MODIF ARTICLE */
.modif-article {
  width: 100%;
  padding: 25px;
}
.modif-article-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article-title-wrapper h2{
margin-bottom: 10px;
}
.modif-label {
  border: 1px solid rgba(0, 0, 0, 0.452);
  margin-bottom: 15px;
  padding: 4px;
}
.modif-title{
    
}
.modif-input {
  width: 80%;
  height:40px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  color:var(--text);
  margin-bottom: 10px;
}

.modif__categorie-list {
  display: flex;
}
.modif-chekbox {
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
}

/* CHECKBOX  */
.checkbox-wrap h1{
    margin:25px 0;
}
.control-group {
    display: flex;
    align-items:center;
    flex-wrap:wrap;
	width: 100%;
	padding: 30px;
	text-align: left;
	vertical-align: top;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding: 10px 30px 10px 40px;
    cursor: pointer;
    margin-right:10px;
    margin-left:10px;
    transition: .2s ease-out; 
    box-shadow: 0 0px 3px rgba(0,0,0,.2);
}
.control:hover{
    box-shadow: 0 1px 7px rgba(0,0,0,.4);

}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: calc(50% - 10px);
	left: 0;
	width: 20px;
	height: 20px;
    background: #e6e6e6;
    margin-left:10px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
